@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");
@import "~normalize.css/normalize.css";

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
}

#app > * {
  user-select: none;
}

.selectable {
  user-select: all;
}

.theme--dark * > .primary--text {
  color: #95caff !important;
}

// fade transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease;
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

//slide
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s, opacity 0.2s;
}
.slide-enter-to,
.slide-leave {
  transform: translate(0, 0);
  opacity: 1;
}
.slide-enter,
.slide-leave-to {
  transform: translate(100%, 0);
  opacity: 0;
}
